page-sign-in {
        // .buttonStyle{
        //     background-color: #76E6ED;
        //     border: none;
        //     color: #FFFFFF;
        //     text-align: center;
        //     font-size: 1.2em;
        //     border-radius:10px;
        //     width:80%;
        // }
        // ion-input{
        //     // width:40%;
        //     padding: 0.1em 0.7em ;
        //     background-color:#E5EEF5;
        //     border: none;
        //     border-radius:10px;
        //     margin:0.5em;
        // }
        
        // .space{
        //     margin:5%;
        // }
        // .titleStyle2{
        //     font-size:4em;
        //     font-family: 'Open Sans', sans-serif;
        
        // }
        
        // .buttonArrangement{
        //     width:80%;
        //     height:25%;
        //     padding: 10px;
        //     display: inline-block;
        // }
        // .buttonStyle3{
        //     background-color: #FF447C;
        //     border: none;
        //     color: #FFFFFF;
        //     text-align: center;
        //     font-size: 1.2em;
        //     border-radius:10px;
        // }
        .buttonStyle{
            background-color: #76E6ED;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 1.2em;
            border-radius:10px;
            width:80%;
            margin:0.5em;
        }
    
        .buttonStyle3{
            background-color: #FF447C;
            border: none;
            color: #FFFFFF;
            text-align: center;
            font-size: 1.2em;
            border-radius:5px;
            width:80%;
            margin:0.5em;
        }
    
        ion-input{
            // width:40%;
            padding: 0.1em 0.7em ;
            background-color:#E5EEF5;
            border: none;
            border-radius:10px;
        }
        
        .space{
            margin:0.5em;
        }
        .titleStyle2{
            font-size:4em;
            font-family: 'Open Sans', sans-serif;
        
        }
        
        .buttonArrangement{
            width:80%;
            height:25%;
            padding: 10px;
            display: inline-block;
        }
        
}
