page-dashboard {
    ion-col div {
        border-radius: 2px;
        padding: 0.1em;
        text-align: center;
        height:100%;
        width:100%;
      }
    
      ion-slides {
        width: 90% !important;
        // margin-left: 10% !important;
        // width: 280% !important;
        height:65%!important;
        margin: 0 auto !important;
        overflow: inherit !important;
      }

      ion-slide{
        border-radius: 10px;
        width:100% !important;
      }
      
    .textStyle{
        font-size:2.5em;
        color:white;
    }
    .textStyle2{
        font-size:1.0em;
        color:white;
    }
    .subTextStyle1{
        font-size:0.7em;
        color:white;
    }
    .subTextStyle2{
        font-size:0.7em;
        color:white;
    }
    .subTextStyle3{
        font-size:0.7em;
        color:black;
    }
    .subTextStyle4{
        font-size:0.7em;
        color:black;
    }

    .subTextStyle5{
        color:white;
        font-weight:bold;    
    }

    .subNumStyle1{
        color:white;
        margin-top:-0.9em;
    }

    .subNumStyle2{
        color:white;
        margin-top:-0.9em;
    }
    .subNumStyle3{
        color:black;
        margin-top:-0.9em;
    }
    .subNumStyle4{
        color:black;
        margin-top:-0.9em;
    }

    .titleStyle{
        color:white;
        font-weight: bold;
        font-size:1.0em;
        text-align: left;
        width:100%;
    }

}
